@charset "UTF-8";

/*
default items - nothing to edit here
*/

body,
body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}
img {
    border: 0;
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and Safari) */
}
div,
img,
button,
svg,
video {
    /*
    set base display items to absolute position
    when animating there is little requirement for relative position
    */
    position: absolute;
}
.retina {
    /*
    for display on retina screens images created @2x actual dimensions then scaled back by 50%.
    images are scaled from top left, which effects css when wanting to use other alignment
    e.g. bottom:0; right:0; also requires transform-origin:bottom right;
    02/2016 webkit browsers:
    images including their containers must be block or inline-block. if css display:none or display:inline then transforms fail.
    */
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    /*
    if you need backface-visibility:visible, set it only on items required
    hidden fixes inconsistant blurring on scaled items across browsers
    */
    backface-visibility: hidden;
}
.btn {
    cursor: pointer;
    /*
    IE fix if you have 'invisble' btns.
    they need a background to be clickable so we add a transparent pixel gif 
    */
    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
#main_container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}
#loading_state {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#main_content {
    position: relative;
    overflow: hidden;
    border: 1px solid #999999;
    /*made visible in JS onLoad*/
    visibility: hidden;
}
#default_exit {
    width: 100%;
    height: 100%;
}
:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}

/*end default items*/

#main_content {
    width: 300px;
    height: 600px;
}
#main_content_area {
    top: 5px;
    left: 5px;
    width: 287px;
    height: 529px;
    overflow: hidden;
    background: url(bg.jpg);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main_content_holder {
    top: -5px;
    left: -5px;
}
