/* KFC - The New O'Saunders Menu - July 2016 - 300x250 */

body { margin: 0; padding: 0; background: #FFF;  }

#cont { position: relative; z-index: 1; width: 300px; height: 250px; overflow: hidden; text-align: center;  }

#clickThru { position: absolute;  width: 298px; height: 248px; z-index: 150; border:1px solid #909090; cursor: pointer; background: rgba(0,0,0,0.01);  }


/* Load Disc */
#loadDisc { position: absolute; top: 0; left: 0; left: 50%; top: 50%; opacity: 0.5;
-webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
 }
#loadDisc svg { -webkit-animation: spin 1s linear infinite; -moz-animation: spin 1s linear infinite; -o-animation: spin 1s linear infinite; -ms-animation: spin 1s linear infinite; animation: spin 1s linear infinite;}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-o-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-ms-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


img { position: absolute; top: 0; left: 0; opacity:0; }
#car { position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity:0; z-index: 100; }

#logo { top: auto; left: auto; right: 5px; bottom: 5px; }

#Stamp1, #Stamp2 { left: auto; top: -20px; right: -20px; }

img#backup { position: absolute; top: 0; left: 0; z-index: 100; opacity:0;  }


/* timeline */
#timelineControls {  }
.slider {  width:296px; height: 100px; background: #cccccc; margin-top: 10px; border: #CCC solid 2px; cursor: pointer; -webkit-tap-highlight-color: rgba(0,0,0,0); position: relative; z-index:1001; }
#progressBtn { width: 50px; height: 100%; background: #FFF; cursor: pointer; -webkit-user-select: none;  -webkit-tap-highlight-color: rgba(0,0,0,0); position: relative; z-index:1001; }
#playControl { display: inline-block; width: 2.6em; font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif; font-size:50px; color: #AAAAAA; cursor: pointer; transition: color 0.25s ease; position: relative; z-index:1001; }
#playControl:hover { color: #ccc; }
#fb { display: inline-block; font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif; font-size:50px; color: #DFDFDF; position: relative; z-index:1001; }
